.pictureContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.noImages{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
}